/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Proyect-Specific */
header {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header h1 {
  color: black;
  font-size: 2em;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .calculator {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
main .calculator__results {
  min-height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: white;
  background-color: black;
  word-wrap: break-word;
  word-break: break-all;
}
main .calculator__results #history, main .calculator__results #total {
  font-size: 1em;
}
main .calculator__results #result {
  font-size: 2.5em;
}
main .calculator__pad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .calculator__pad__numbers {
  width: 80%;
  display: grid;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 33%);
}
main .calculator__pad__numbers .numbers {
  background-color: lightgrey;
  color: darkgrey;
}
main .calculator__pad__numbers .numbers:hover {
  background-color: #9c9c9c;
  color: black;
}
main .calculator__pad__numbers .three-column {
  grid-column: span 3;
}
main .calculator__pad__operators {
  display: flex;
  flex-direction: column;
  width: 20%;
}
main .calculator__pad__operators .operators {
  background-color: #ff9300;
  color: white;
}
main .calculator__pad__operators .operators:hover {
  background-color: #a36104;
}
main .calculator button {
  cursor: pointer;
  font-size: 2em;
  border: solid white 1px;
  outline: none;
  height: 100%;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: darkgrey;
  margin: 10px 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer p {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
